{{>partials/header}}

<section data-bs-version="5.1" class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <img src="assets-home/images/bannerLogo.png" alt="Logo" style="height: 20rem;">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>PetSul Delivery</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">Aplicativo de delivery com serviços para pets</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-success display-4" href="https://play.google.com/store/apps/details?id=com.petsuldelivery.mobileapp3"><span class="socicon socicon-play mbr-iconfont mbr-iconfont-btn"></span>Google Play</a> <a class="btn btn-success-outline display-4" href="/breve"><span class="socicon socicon-apple mbr-iconfont mbr-iconfont-btn"></span>Apple Store</a></div>
            </div>
        </div>
    </div>
</section>

{{>partials/footer}}