<section data-bs-version="5.1" class="footer3 cid-s48P1Icc8J" once="footers" id="footer3-i">

    <div class="container">
        <div class="media-container-row align-center mbr-white">
        <div class="row row-links">
                <ul class="foot-menu">
                <li class="foot-menu-item mbr-fonts-style display-7"><a href="/sobre" class="text-success">Sobre</a></li>
                <li class="foot-menu-item mbr-fonts-style display-7"><a href="/contato" class="text-success">Contato</a></li></ul>
            </div>
            
            <div class="row social-row">

                <div class="social-list align-right pb-2">
                    
                <div class="soc-item">
                        
                            <a href="https://web.whatsapp.com/"><span class="mbr-iconfont mbr-iconfont-social socicon-whatsapp socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span></a>
                        
                    </div><div class="soc-item">
                        
                            <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><span class="mbr-iconfont mbr-iconfont-social socicon-mail socicon"></span></a>
                        
                    </div><div class="soc-item">
                        
                            <a href="/breve"><span class="mbr-iconfont mbr-iconfont-social socicon-apple socicon"></span></a>
                        
                    </div><div class="soc-item">
                        
                            <a href="https://play.google.com/store/apps/details?id=com.petsuldelivery.mobileapp3"><span class="mbr-iconfont mbr-iconfont-social socicon-play socicon"></span></a>
            </div>

            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2021 S8 Informática. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</section>
  
</body>
</html>